.App {
  background-color: red;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}
.layout{
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 15px;
}
/*
csx
*/
.cc{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu{
  background-color: white;
}

*{
  box-sizing: border-box;
}
/*
body, html {
 margin: 0;
 padding: 0;
 width: 100vw;
 height: 100vh;
}*/